mypy_extensions>=0.3.0
pytest>=3.3.0; python_version > '3.5'
# pytest >5.3.0 uses typing.Type from Python 3.5.2
pytest>=3.3.0,<=5.3.0; python_version <= '3.5'
# importlib-metadata is needed for Python 3.5+, but pip does not seem to be
# pinning it to a correct version for Python 3.5 (possibly because it's a
# transitive dependency).
# Python 3.5 support was dropped in importlib-metadata 3.0.0
importlib-metadata>=0.12,<3.0.0; python_version == '3.5'
setuptools>=28.8.0
six>=1.11.0
typing>=3.6.2; python_version < '3.5'
